.wosnerds-navbar-container {
	background-color: #e8e8e8;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow-y: auto;
}

.wosnerds-navbar-container::-webkit-scrollbar {
	width: 8px;
}

.wosnerds-navbar-container::-webkit-scrollbar-thumb {
	background-color: #505055;
	border-radius: 10px;
}

.wosnerds-navbar-logo {
	width: 80%;
	height: auto;
	border-bottom: 1px solid #444;
	padding: 20px;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
}

.wosnerds-navbar-link {
	color: #333 !important;
	margin: 8px 0;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #f0f0f0;
	width: 90%;
	text-align: center;
}

.wosnerds-navbar-link:hover {
	background-color: #d0d0d0;
}

.wosnerds-navbar-item {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* Responsive styling for smaller screens (phones) */
@media (max-width: 768px) {
	.wosnerds-navbar-container {
		width: 60%;
		height: auto;
		position: relative;
		border-radius: 0;
		flex-direction: row;
		justify-content: space-around;
	}

	.wosnerds-navbar-item {
		display: inline-block;
		margin: 0 5px;
	}

	.wosnerds-navbar-logo {
		width: 100px;
		height: auto;
		display: inline-block;
		margin: 10px;
	}
}
